/****
Repeated common classes/properties

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex !important;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap !important;
  width: 100% !important;
  display: inline-block !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.pointer {
  cursor: pointer;
}

.no-event {
  pointer-events: none;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}
****/
