/****
Define the variables 

:root {
  --primary: #11202d;
  --secondary: #4e6a86;
  --tertiary: #b49a64;
  --quaternary: #f8c142;

  --shade0: #000;
  --shade10: #1b1b1b;
  --shade50: #bebebe;
  --shade60: #d6d6d6;
  --shade70: #ebebeb;
  --shade100: #fff;

  --gutter: 0.4rem;
  
  --base-font-size: 10px;
  --default-font: "OpenSans";
  
  --thin: 100;
  --light: 300;
  --normal: 400;
  --medium: 500;
  --bold: 700;
  --extrabold: 900;
}
****/
