/****
Only fonts sizes, font family and font-weight properties can place here:

@font-face {
  font-family: "OpenSans";
  src: url("opensans-regular.svg#OpenSans") format("svg"),
    url("opensans-regular.ttf") format("truetype"),
    url("opensans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
****/
